// Main less file
@import url('./ColorScheme.less');
@import url('./Navbar.less');
@import url('./Beta.less');

// Importar fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

// Reseter
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    color: @text-color;
    box-sizing: border-box; 
    background-color: #ffffff;
}
// Botones
.btn{
    font-weight: bold;
}
.btn-primary {
    background-color: @color1;
    border-color: @color1;
    color: @white;
    &:hover,
    &:focus {
        background-color: @color1_hover;
        border-color: @color1_hover;
        color: lighten(@color1, 20%);
    }
}
.btn-secondary {
    background-color: @color2;
    border-color: @color2;
    color: @white;
    &:hover,
    &:focus {
        background-color: @color2_hover;
        border-color: @color2_hover;
        color: lighten(@color2, 20%);
    }
}
.btn-success {
    background-color: @success;
    color: @white;
    &:hover,
    &:focus {
        background-color: darken(@success, 10%);
        color: white;
    }
}
.btn-info {
    background-color: @info;
    border-color: @info;
    color: @white;
    &:hover,
    &:focus {
        background-color: darken(@info, 10%);
        border-color: darken(@info, 30%);
        color: white;
    }
}
.btn-warning {
    background-color: @warning;
    border-color: @warning;
    color: @white;
    &:hover,
    &:focus {
        background-color: darken(@warning, 10%);
        border-color: darken(@warning, 30%);
        color: white;
    }
}
.btn-danger {
    background-color: @red;
    border-color: @red;
    color: @white;
    &:hover,
    &:focus {
        background-color: darken(@red, 10%);
        border-color: darken(@red, 10%);
        color: white;
    }
}
.btn-light {
    background-color: @gray-light;
    border-color: @gray-light;
    color: @dark;
    &:hover,
    &:focus {
        background-color: darken(@gray-light, 10%);
        border-color: darken(@gray-light, 10%);
        color: white;
    }
}
.btn-dark {
    background-color: @gray-dark;
    border-color: @gray-dark;
    color: @white;
    &:hover,
    &:focus {
        background-color: darken(@gray-dark, 10%);
        border-color: darken(@gray-dark, 10%);
        color: white;
    }
}
.btn-link {
    color: @link-color;
    &:hover,
    &:focus {
        color: darken(@link-color, 20%);
    }
}

// Enlaces
a {
    color: @link-color;
}
a:hover {
    color: @link-hover-color;
}

// Fondos
body {
    background-color: @body-bg;
}

// Barra de navegación
.navbar {
    background-color: #E78D8B;
    border-color: #E78D8B;
}
.navbar-dark .navbar-nav .nav-link {
    color: #E78D8B;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #E78D8B;
    background-color: #E78D8B;
}
// Sidebar

@media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }