// Colores del esquema propuesto
@color1: #2B4A60;
@color2: #907A6D;
@color3: #DB815D;
@color4: #E2C8BD;
@color5: #E6DAD0;

// Hover colors
@color1_hover: darken(@color1, 10%);
@color2_hover: darken(@color2, 10%);
@color3_hover: darken(@color3, 10%);
@color4_hover: darken(@color4, 10%);
@color5_hover: darken(@color5, 10%);

// Colores de tema Bootstrap
@body-bg: #FFF;
@text-color: #333;

@gray-dark: #111;
@gray: #555;
@gray-light: #777;
@gray-lighter: #EEE;
@gray-lightest: #FFF;

@link-color: #007BFF;
@link-hover-color: #0056b3;

@primary: @color1;
@secondary: @color2;
@success: #6ED09A; // Verde pastel
@info: #82CFFD; // Azul pastel
@warning: #FFDD87; // Amarillo pastel
@danger: #FF8C94; // Rosa pastel
@light: #FFFAF0; // Blanco hueso
@dark: #A9A9A9; // Gris claro
@white: #FFF;
@black: #000;

@blue: #007BFF;
@indigo: #6610f2;
@purple: #6f42c1;
@pink: #e83e8c;
@red: #dc3545;
@orange: #fd7e14;
@yellow: #ffc107;
@green: #28a745;
@teal: #20c997;
@cyan: #17a2b8;


